CompileFlags:
  Add:
    - "-std=c++20"
    - "-I/Users/kdridi/Documents/fp++20/include"
  CompilationDatabase: build/

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
